/*
 *|=======================================|
 *| [fonts.css]
 *|
 *| Font Family
 *| 
 *| 
 *| @author Richard Blondet
 *|=======================================|
*/
@font-face {
	font-family: "Museo Slab 300";
	src: 	url("../fonts/museo-slab/300/museo-slab-300.eot"); /* IE9*/
	src: 	url("../fonts/museo-slab/300/museo-slab-300?#iefix") format("embedded-opentype"), 
			url("../fonts/museo-slab/300/museo-slab-300.woff2") format("woff2"),
			url("../fonts/museo-slab/300/museo-slab-300.woff") format("woff"),
			url("../fonts/museo-slab/300/museo-slab-300.ttf") format("truetype"),
			url("../fonts/museo-slab/300/museo-slab-300.svg#Museo Slab 300") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Museo Slab 500";
	src: 	url("../fonts/museo-slab/500/museo-slab-500.eot"); /* IE9*/
	src: 	url("../fonts/museo-slab/500/museo-slab-500?#iefix") format("embedded-opentype"), 
			url("../fonts/museo-slab/500/museo-slab-500.woff2") format("woff2"),
			url("../fonts/museo-slab/500/museo-slab-500.woff") format("woff"),
			url("../fonts/museo-slab/500/museo-slab-500.ttf") format("truetype"),
			url("../fonts/museo-slab/500/museo-slab-500.svg#Museo Slab 500") format("svg"); /* iOS 4.1- */
}