<div id="betty-spoon" class="bases-promo"></div>
<div class="wrapper">
	<div id="template-type-page-title" class="form-title museo-500">
		¡Bases de la Promoci&oacute;n!
	</div>
	<div id="template-type-content-wrapper">
		<div id="template-type-content" class="museo-300">
			<p>
				<strong class="museo-500"> I. PATROCINADOR, PARTICIPANTES Y DESCRIPCIÓN DE PREMIOS.  </strong>
			</p>
			<ul class="alpha">
				<li>
					A) Patrocinador: La promoción se lleva a cabo gracias a los auspicios de Grupo SID, organizada de conformidad con las leyes de la República Dominicana, con su domicilio social en la Av. Máximo Gómez, No. 182 de la ciudad de Santo Domingo, en su calidad de representante/distribuidor de los productos Betty Crocker. (“EL Patrocinador”). 
				</li>
				<li>
					B) Nombre de la promoción: ¡La promoción se denominará “Promo Mmmm!”, la cual para fines de las presentes bases se denominará la “promoción”. 
				</li>
				<li>
					C) Nombre de la promoción: ¡La promoción se denominará “Promo Mmmm!”, la cual para fines de las presentes bases se denominará la “promoción”. 
				</li>
				<li>
					D) Participantes: En esta promoción podrían participar todas las personas mayores de dieciocho (18) años que compren dos (2) o más productos de la marca Betty Crocker en los establecimientos donde se esté llevando a cabo la activación/promoción en las tiendas de Grupo Ramos, CCN, SM Bravo y SM La Cadena participantes, mencionadas a continuación: 
					<br>
					<br> - Multicentro Churchill; 
					<br> - Multicentro Galería 360; 
					<br> - Multicentro Luperón; 
					<br> - Multicentro Embrujo; 
					<br> - Supermercado Bravo Churchill; 
					<br> - Supermercado Bravo Núñez; 
					<br> - Supermercado Bravo Enriquillo; 
					<br> - Supermercado Bravo Santiago; 
					<br> - Supermercado Nacional Arroyo Hondo; 
					<br> - Supermercado Nacional 27 de Febrero; 
				</li>
			</ul>
		</div>
	</div>
	<div id="back-button" class="page-bases-promo red-button" data-ng-click="register()">
		Cerrar
	</div>
</div>