<div id="betty-spoon" class="bases-promo"></div>
<div class="wrapper">
	<div id="template-type-page-title" class="form-title museo-500">
		Total de Ganadores
	</div>
	<div id="template-type-content-wrapper">
		<div id="template-type-content" class="museo-300">
			<ol class="nume">
				<li>
					Ganador Name: <br>
					<strong class="museo-500">Sucursal</strong>, Timestamp
				</li>
				<li>
					Ganador Name: <br>
					<strong class="museo-500">Sucursal</strong>, Timestamp
				</li>
				<li>
					Ganador Name: <br>
					<strong class="museo-500">Sucursal</strong>, Timestamp
				</li>
			</ol>
		</div>
	</div>
	<div id="back-button" class="page-bases-promo red-button">
		Cerrar
	</div>
</div>